@page "/console-demo"

<h3>Console Demo</h3>

<p>Click a button to see a message in the browser's console.</p>

<div>
    <button @onmouseover="() => LogMessage()">Button 1</button>
    <button @onclick="() => LogMessage()">Button 2</button>
    <button @onclick="() => LogMessage()">Button 3</button>
</div>

@code {
    private void LogMessage()
    {
        string message = "ziz";
        // Log the message to the browser's console
        Console.WriteLine(message);
    }
}
